
/* CSS Document */




body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-image: url('back.png');
	font-size: 12px;
	height: 100%;
}




/*un div per ogni step*/
div.content
{
	clear:both;
	color:#00428C;
	font-size:12px;
	padding:3px 0;
	text-align:left;
	z-index:1;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background-color:#EEEEEE;
	margin:10px auto;
	padding:5px 10px;
	width:60%;
	height:100%;
}

div.header {
background-position:center; 
background-image: url('logoScaledRss.png');
background-repeat: no-repeat;
height: 148px;
}

/*per il titolo della form*/
h1
{
	background-image: url('bg-main2.jpg');
	font-size: 25px;
	height: 40px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
	text-align: center;
	/*color: #848dd2;*/
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	padding: 10px;
}

h2
{
	margin-top: 30px;
	background-image: url('pencil.png');
	background-position:left; 
	background-repeat: no-repeat;
	font-size: 15px;
	height: 30px;
	font-weight: bold;
	color: #000000;
	vertical-align: middle;
	text-align: right;
	border-style:solid;
	border-width:1px;
	border-color:#848dd2;
	/*color: #848dd2;*/
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	padding: 5px;
	
}

/*per gli step*/
h3.step
{
	background-image: url('bg-main2.jpg');
	font-size: 15px;
	height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
	/*color: #848dd2;*/
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	padding: 2px;
}

h3.inside
{
	background-image: url('bg-main2.jpg');
	font-size: 12px;
	height: 15px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	padding: 2px;
}

div.inside
{
	padding-left: 30px;
}

/*ogni elemento <domanda>=risposta*/
p
{
	background-color: #EEEEEE;
	font-size: 12px;
	height: 15px;
}

span.question
{
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}

span.answer
{
	font-size: 12px;
	color: #666666
}
