<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Storage.Properties.Settings.FloadingDBConnectionString"
            connectionString="Data Source=131.114.120.42;Initial Catalog=FloadingDB;User ID=LOADBUser;Password=loadbuSER"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>